<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex v1</title>
    <link rel="icon" href="https://img.icons8.com/color/48/000000/pokeball--v1.png">
    <link rel="stylesheet" href="~/css/reset.css"/>
    <link  rel="stylesheet" href="~/css/pokemon.css" />
</head>

<body>
    <header>
       <div id="header">
           <a href="/"><img src="~/image/pokedex-logo.png" /></a>
       </div>
    </header>

    <main>
        @RenderBody()
    </main>
</body>
</html>